<div class="commentInfoWrapper">
  <h1>Comment Info:</h1>
  <h1>Message: "<%=message.text%>"</h1>
  <h2>Author: <%=message.user%></h2>
  <h2>Date: <%=message.added%></h2>
  <a href="/">Return to home</a>
</div>
