<link rel="stylesheet" href="styles.css" />
<form method="POST" action="/newmessage">
  <input type="text" name="username" placeholder="Username" />
  <input type="text" name="message" placeholder="Message..." />
  <button type="submit">Submit</button>
</form>
